:root {
    --darkest: rgba(23, 23, 23, 1);
    --darker: #424242;
    --background: rgba(23, 23, 23, 1);
    --dark: rgb(109, 109, 109);
    --grey: #979797;
    --semilight: #c2c2c2;
    --light: #ececec;
    --mecute: "../img/me_pic_1.jpg";
    --grad: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    --highlight1: rgb(231, 23, 30);
    --highlight2: rgb(48, 112, 184);
}

@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

body {
    background-color: var(--background);
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica 25 UltraLight", sans-serif;
}

.page {
    background-color: var(--background);
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    overflow-x: visible;
    padding-left: 50px;
    padding-right: 50px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0;
    background-color: var(--background);
    color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
    width: 5px;
}

::-webkit-scrollbar-thumb:hover {
    width: 50px;
}

@keyframes intro_back {
    0% {
        background-position: 50% 50%;
    }
    30% {
        background-image: linear-gradient(
                to bottom,
                rgba(109, 109, 109, 0.5),
                rgba(23, 23, 23, 1)
            ),
            url("../img/me_pic_1.jpg");
    }
    50% {
        background-position: 0% 0%;
    }
    60% {
        background-image: linear-gradient(
                to bottom,
                rgba(109, 109, 109, 0.5),
                rgba(23, 23, 23, 1)
            ),
            url("../img/me_pic_2.jpg");
    }
    90% {
        background-image: linear-gradient(
                to bottom,
                rgba(109, 109, 109, 0.5),
                rgba(23, 23, 23, 1)
            ),
            url("../img/me_pic_3.jpg");
    }
    100% {
        background-position: 50% 50%;
    }
}

@keyframes BackAnim {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#introduction {
    background-image: linear-gradient(
            to bottom,
            rgba(109, 109, 109, 0.5),
            rgba(23, 23, 23, 1)
        ),
        url("../img/me_pic_1.jpg");
    background-size: cover;
    opacity: 0;
    animation-duration: 10s;
    width: 100%;
}

#introduction-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;

    width: 100vw;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0;
    background-color: transparent !important;
}

#short-about {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 100;
    width: 100%;
}

#short-about2 {
    background-color: var(--background);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 100;
    width: 100%;
}

.coding-text {
    max-width: 100vmin;
    min-width: 50%;
    display: flex;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
}

.page-h1-body {
    text-align: start;
}

.coding-text,
.new {
    width: 50%;
    display: flex;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
    max-width: 50vmin;
}

@keyframes MobileMorphAnim {
    0% {
        opacity: 0;
        translate: 0% 150%;
    }
    25% {
        opacity: 1;
        translate: 0% 0%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.secondlinedesktop {
    display: flex;
    flex-direction: row;
    width: 100% !important;
}

.secondlinemobile {
    display: flex !important;
    flex-direction: row;
    width: max-content !important;
    max-width: 100% !important;
}

@media only screen and (max-width: 850px) {
    .custom-header {
        background-color: var(--darker);
        padding-left: 5px;
        padding-right: 5px;
    }

    .custom-header .container {
        justify-content: space-between;
        width: 100%;
    }

    .coding-text,
    .new {
        width: 100%;
        display: flex;
        font-weight: 100;
        flex-direction: column;
        justify-content: center;
        max-width: 100vmin;
        align-items: flex-start;
    }

    #introduction {
        width: 100vw;
    }

    .map {
        background-image: url("../img/UKSilhouette.png");
        width: 100%;
        aspect-ratio: 1/1;
        background-size: cover;
        align-self: center;
        margin: 100px;
        min-width: 250px;
        position: relative;
    }

    .icons-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        aspect-ratio: 1/1;
        align-self: center;
        margin: 100px;
        min-width: 250px;
    }

    .page-h1-body {
        text-align: start !important;
        font-size: 1.5rem !important;
    }

    .page-h1-title {
        font-size: 3rem !important;
        text-align: start;
    }

    #short-about {
        min-height: max-content;
        height: max-content;
    }
}

.coding-text h1 {
    opacity: 1;
    text-align: start;
    font-size: 5vmin;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
}

.coding-text h2 {
    opacity: 0.8;
    font-weight: 100;
}

.coding-text h3 {
    opacity: 0.6;
    text-align: center;
}

.coding-text p {
    opacity: 0.4;
    text-align: center;
}

#hello {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 900;
    padding-left: 2.5vw;
    width: 100%;
    height: 150px;
}

#hello li {
    display: flex;
    flex-direction: row;
    padding: 0, 0;
    margin-left: 2.5%;
    flex-wrap: nowrap;
    align-self: stretch;
    font-weight: 500;
}

#second-line {
    display: flex;
    flex-direction: row;
    padding: 0, 0;
    margin-left: 5%;
    flex-wrap: nowrap;
    width: 90% !important;
    align-self: stretch;
    height: min-content;
}

#introduction-div h1 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    transition: color 0.5s;
    overflow-wrap: unset;
}

#introduction-div h1:hover {
    color: crimson;
}

#introduction-div h2 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    transition: all 0.5s;
    overflow-wrap: unset;
}

#introduction-div h2:nth-child(1) {
    animation-delay: 1s;
}

#introduction-div h2:nth-child(1):hover {
    color: var(--grey);
}

#introduction-div h2:nth-child(2) {
    animation-delay: 1.2s;
}

#introduction-div h2:nth-child(2):hover {
    color: var(--grey);
}

#introduction-div h2:nth-child(3) {
    animation-delay: 1.4s;
}

#introduction-div h2:nth-child(3):hover {
    color: var(--highlight1);
}

#hello h3:nth-child(1) {
    animation-delay: 2.6s;
}
#hello h3:nth-child(1):hover {
    color: var(--grey);
}

#hello h3:nth-child(2) {
    animation-delay: 2.8s;
}

#hello h3:nth-child(2):hover {
    color: var(--grey);
}

#hello h3:nth-child(3) {
    animation-delay: 3.2s;
}

#hello h3:nth-child(3):hover {
    color: var(--highlight1);
}

#hello h3:nth-child(4) {
    animation-delay: 3.4s;
}

#hello h3:nth-child(4):hover {
    color: var(--grey);
}

.map {
    background-image: url("../img/UKSilhouette.png");
    width: 50%;
    aspect-ratio: 1/1;
    background-size: cover;
    align-self: center;
}

.icons-home {
    width: 50%;
    aspect-ratio: 1/1;
    align-self: center;
}

.pin2 {
    display: none;
    position: absolute;
    left: 62.5%;
    top: 77.3333333333%;
    border-radius: 50%;
    border: 8px solid var(--highlight1);
    width: 8px;
    height: 8px;
    animation-delay: 1s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.map-animation {
    animation: map-spawn 1s;
    animation-fill-mode: forwards;
}

.pin-animation {
    animation: pin-spawn 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes map-spawn {
    0% {
        opacity: 0;
        transform: rotate(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes pin-spawn {
    0% {
        border: 200px solid var(--highlight1);
        opacity: 0;
        width: 200px;
        height: 200px;
    }
    80% {
        border: 4px solid var(--highlight1);
        opacity: 1;
        width: 4px;
        height: 4px;
    }
    90% {
        border: 20px solid var(--highlight1);
        opacity: 1;
        width: 20px;
        height: 20px;
    }
    100% {
        border: 8px solid var(--highlight1);
        opacity: 1;
        width: 8px;
        height: 8px;
    }
}

#introduction-div h2:hover {
    color: var(--highlight1);
}

#introduction-div h3 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    animation-delay: 1s;
    transition: all 0.5s;
    overflow-wrap: normal;
}

@keyframes iconslideshow {
    0% {
        opacity: 0;
        transform: rotate(-360deg);
    }
    10% {
        opacity: 1;
        transform: rotate(0deg);
    }
    90% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

.icon-pic-new {
    width: 80%;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    animation: 4s ease-in-out iconslideshow;
}

body {
    margin: 0px;
}

#morph-text-mobile {
    animation-duration: 0.5s;
    opacity: 0;
    transition: color 1s;
    color: var(--light);
    word-wrap: break-word;
}

#morph-text-mobile:hover {
    color: var(--highlight1);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 5vmax;
    text-align: left;
    font-weight: 900;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#contact-button {
    background-color: #979797;
    font-size: large;
    font-family: sans-serif;
}

#contact-me:hover {
    color: var(--highlight1);
}

@keyframes background-tile {
    0% {
        background-position: 0%, 0%;
    }
    100% {
        background-position: 100%, 100%;
    }
}